@{
    ViewBag.Title = "Home Page";
}

<div class="homePage container-fluid d-flex flex-column">
    <h1 class="text-center fw-bolder">Welcome To AroMart</h1>
    <a href="/products" class="frontButton btn btn-lg btn-primary">All Products</a>
</div>